{% extends 'modelo.html' %}
{%  block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listas.css') }}">
{% endblock %}
{%  block title %}Clientes{% endblock %}
{% block content %}
<a href="{{ url_for('cliente.formCliente') }}"><button type="button" class="btn-add btn mb-5"><i class="fas fa-plus-square"> Novo Cliente</i></button></a>
<table class="table table-striped">
    <thead>    
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Fiado</th>
            <th width='15%'>Opções</th>            
        </tr>
    </thead>
    <tbody>
        {% if clientes: %}
        {% for cliente in clientes: %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{cliente[1]}}</td>
            <td>{{cliente[2]}}</td>
            {% if cliente[3] == 0: %}
            <td>Não</td>
            {% else: %}
            <td>Sim</td>
            {% endif %}
            <td> 
                
                
                <div class="row justify-content-sm-center">
                    <div class="col-sm-6">
                        <form action="{{ url_for('cliente.formEditCliente') }}" method="POST">
                            <input type="hidden" name="id_cliente" value="{{ cliente[0] }}">
                            <button title="Editar" type="submit" class="btn btn-edit"><i class="fas fa-edit"></i></button>
                        </form>                    
                    </div>             
                    <div class="col-sm-6">
                        <form name="excluiUsuario">
                            <input type="hidden" name="id_cliente" value="{{ cliente[0] }}">
                            <button title="Excluir" type="submit" class="btn btn-remove"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>    
                </div>
                    

                
            </td>
            
        </tr>
        {% endfor %}
        {% else: %}
        <tr>Nenhum registro encontrado</tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("form[name='excluiUsuario']").submit(function(e){        
        e.preventDefault();

        swal({
            title: "",
            text: "Deseja realmente excluir o cliente?",
            type: "warning",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim",
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            closeOnConfirm: false
            },
            function(){
                
                deletaCliente($(e.target)[0][0].value);// Retorna o valor que está no id do cliente escolhido);
        });
        
})

    function deletaCliente(idCliente){

        $.post($SCRIPT_ROOT + "{{ url_for('cliente.deleteCliente') }}",{id_cliente:idCliente},
        
        
        function(data){

            if(!data.erro){

                swal({
                        title: "",
                        text: data.mensagem,
                        type: "success",                    
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Ok",                    
                        closeOnConfirm: false,
                        closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT + "{{ url_for('cliente.formListaClientes') }}");
                            } 
                        });
                }
                else{
                    swal("",data.mensagem,"error");
                    console.log(data.mensagem_exception);
                }
            }       
        
        );
    }
</script>
{% endblock %}