{% extends 'modelo.html' %}
{%  block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listas.css') }}">
{% endblock %}
{%  block title %}Clientes{% endblock %}

{% block content %}

<a href="{{ url_for('cliente.formCliente') }}"><button type="button" class="btn btn-danger mb-5"><i class="fas fa-plus-square"> Novo Cliente</i></button></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Fiado</th>
            <th class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% if clientes: %}
        {% for cliente in clientes: %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{cliente[1]}}</td>
            <td>{{cliente[2]}}</td>
            {% if cliente[3] == 0: %}
            <td>Não</td>
            {% else: %}
            <td>Sim</td>
            {% endif %}
            <td>
                <div class="text-center">
                    <a href="#">Editar</a>
                    <a href="#">Excluir</a>
                </div>  
            </td>
        </tr>
        {% endfor %}
        {% else: %}
        <tr>Nenhum registro encontrado</tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}