{% extends 'modelo.html' %}
{%  block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listas.css') }}">
{% endblock %}
{%  block title %}Produtos{% endblock %}

{% block content %}

<a href="{{ url_for('produto.formProduto') }}"><button type="button" class="btn btn-danger mb-5"><i class="fas fa-plus-square"> Novo Produto</i></button></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor Unitário</th>
            <th>Imagem</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in lista_produto: %}
        <tr>
            <td>{{ produto[0] }}</td>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[4] }}</td>
            <td><img src="{{ produto[3] }}" alt="{{ produto[1] }}" width="100"></td>
            <td>
                <div class="text-center">
                    <form style=" clear: both; float:left; margin-right: -2px; margin-left: -10px;" action="{{ url_for('produto.formEditProduto') }}" method="POST">
                        <input type="hidden" name="id_produto" value="{{ produto[0] }}">
                        <button title="Editar" type="submit" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                    </form>
                    <form name="excluiProduto">
                        <input type="hidden" name="id_produto" value="{{ produto[0] }}">
                        <button title="Excluir" type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $("form[name='excluiProduto']").submit(function(e){

        e.preventDefault();

        swal({
            title: "",
            text: "Deseja realmente excluir o produto?",
            type: "warning",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim",
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            closeOnConfirm: false
            },
            function(){
                
                deletaProduto($(e.target)[0][0].value);// Retorna o valor que está no id do cliente escolhido);
        });

        
    })

    function deletaProduto(id_produto){

        $.post($SCRIPT_ROOT + "{{ url_for('produto.deleteProduto') }}",{

            id_produto: id_produto
        },function(data){

            if(!data.erro){

                swal({
                        title: "",
                        text: data.mensagem,
                        type: "success",                    
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Ok",                    
                        closeOnConfirm: false,
                        closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProdutos') }}");
                            } 
                        });
                }
                else{
                    swal("",data.mensagem,"error");
                    console.log(data.mensagem_exception);
                }
        })
    }
</script>
{% endblock %}