{% extends 'modelo.html' %}
{% block title %}Produtos{% endblock %}

{% block content %}

    <h2>Cadastro Novo Produto</h2>
    <form id="addProduto">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" class="form-control col-5" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" id="descricao" class="form-control col-5" required>
        </div>
        <div class="form-group">
            <label for="valor_unitario">Valor Unitário:</label>
            <input type="number" name="valor_unitario" id="valor_unitario" class="form-control col-5" required>
        </div>       
        <div class="custom-file mt-2">
            <input type="file" class="custom-file-input" id="imagem">
            <label class="custom-file-label" for="imagem">Escolher imagem</label>
        </div>        
        
        <button type="submit" id="botaoSubmit" class="btn btn-success mt-3">Enviar</button>
    </form>


{% endblock %}

{% block js %}

<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $('#addProduto').submit(function(e){

        e.preventDefault()

        $.post($SCRIPT_ROOT + "{{ url_for('produto.addProduto') }}", {

            nome: $('#nome').val(),
            descricao: $('#descricao').val(),
            valor_unitario: $('#valor_unitario').val()
        }, function(data){

            if(!data.erro){

                swal(
                    {
                        title: "",
                        text: data.mensagem,
                        type: "success",                    
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Ok",                    
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProdutos') }}");
                        } 
                    
                    });
            }
            else{

                swal('', data.mensagem, 'error')
                console.log(data.mensagem_exception)
            }
        })
    })
</script>
{% endblock %}




