{% extends 'modelo.html' %}
{% block title %}Configurações{% endblock %}

{% block content %}
{% if configuracoes: %}
{% for conf in configuracoes: %}
<h2>Configurações</h2>
<form id="salvaConfiguracoes">
    <div class="form-group">
        <label for="multa_atraso">Multa por Atraso:</label>
        <input type="text" class="form-control" value="{{conf[0]}}" id="multa_atraso" name="multa_atraso" required>
    </div>
    <div class="form-group">
        <label for="taxa_juro_diario">Juros:</label>
        <input type="text" class="form-control" value="{{conf[1]}}" id="taxa_juro_diario" name="taxa_juro_diario" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar Configurações</button>
</form>
{% endfor %}
{% endif %}
{% endblock %}