{% extends 'modelo.html' %}

{% block title %}Fechar comanda{% endblock %}

{% block content %}
<h2>Fechar Comanda: Nº {{ comanda['comanda'] }} </h2>
<form id="fechaComanda">
    <input type="hidden" value="{{ comanda['id_comanda'] }}" id="id_comanda" name="id_comanda">
    <div class="form-group">
        <label for="data_hora">Data:</label>
        <input type="text" readonly id="data_hora" value="{{ comanda['data_hora'] }}"  name="data_hora" class="form-control col-5">
    </div>
    <div class="form-group">
        <label for="valor_total">Valor total:</label>
        <input type="text" readonly id="valor_total" value="{{ comanda['valor_total'] }}" name="valor_total" class="form-control col-5">
    </div>
    <p>Tipo pagamento: </p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipo" id="vista" value="1">
        <label class="form-check-label" for="inlineRadio1">Á Vista</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipo" id="fiado" value="2">
        <label class="form-check-label" for="inlineRadio2">Fiado</label>
      </div>
    <div class="form-group">
        <label for="valor_desconto">Desconto:</label>
        <input type="text" id="valor_desconto"   name="valor_total" class="form-control col-5">
    </div>

    <button type="submit" class="btn btn-success">OK</button>
</form>
{% endblock %}