{% extends 'modelo.html' %}

{% block title %}Comandas{% endblock %}

{% block content %}

<h2>Adicionar produtos</h2>
<form id="addComanda">
    <div class="form-group">
        <label for="comanda">Número comanda:</label>
        <input type="text" readonly id="comanda" value="{{ comanda['comanda'] }}" maxlength="3" name="comanda" class="form-control col-5">
    </div>
    <div class="form-group">
        <label for="data_hora">Data:</label>
        <input type="datetime" readonly id="data_hora" value="{{ comanda['data_hora'] }}"  name="data_hora" class="form-control col-5">
    </div>
    <div class="form-group">
        <label for="produto_id">Produto:</label>
        <select class="form-control selectpicker" aria-search-live='true'>
            <option value=""></option>
            {% for produto in lista_produto: %}
            <option value="{{ produto[0] }}">{{ produto[1] }}</option>
            {% endfor %}
        </select>
        
    </div>
    <div class="form-group">
        <label for="quantidade">Quantidade:</label>
        <input type="number"  id="quantidade"   name="quantidade" class="form-control col-5">
    </div>

    <button type="submit" id="botaoSubmit" class="btn btn-success">Enviar</button>
    
</form>

{% endblock %}