{% extends 'modelo.html' %}
{%  block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listas.css') }}">
{% endblock %}
{% block title %}Recebe Fiado{% endblock %}

{% block content %}
<div class="col-4">
    <form id="buscaCliente" method="POST">
        <input autofocus type="text" name="cpf_cliente" maxlength="11" minlength="11" id="cpf_cliente" placeholder="CPF Cliente">
        <button type="submit"  class="btn btn-info"><i class="fas fa-search"></i></button>
    </form>
    <div id="msg_cliente" class="alert alert-danger">Cliente não encontrado!</div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Número</th>            
            <th>Data</th>
            <th>Dias Atraso</th>
            <th>Valor</th>            
            <th>Multa</th>
            <th>Juros</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="fiados">
        
    </tbody>
    
</table>
<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-success" id="receber_fiados">Receber fiados marcados</button>

    </div>
    <div class="col-2">
        
        <div class="alert alert-success">
            <p>Total(R$):</p>    
            <p id="valor_total">0</p>
        </div>
    </div>

</div>
    
{% endblock %}

{% block js %}
<script>   
    
    
    $('#buscaCliente').submit(function(e){

        e.preventDefault();
        

        $.post($SCRIPT_ROOT + "{{ url_for('comanda.buscaFiadoPorCliente') }}",{

            cpf_cliente:$('#cpf_cliente').val()
        },function(data){

            if(!data.erro){
                if(data.cliente_encontrado){
                    $('#msg_cliente').hide();
                    $('#receber_fiados').show();
                    $('#fiados').empty();
                    data.fiados.forEach(fiado => {
                        
                        $('#fiados').append(`
                            <tr>
                                <td>${fiado['ID']}</td>
                                <td>${fiado['Numero']}</td>
                                <td>${new Date(fiado['Data']).toLocaleDateString()}</td>
                                <td>${fiado['Dias Atraso']}</td>
                                <td>${fiado['Valor']}</td>
                                <td>${fiado['Multa']}</td>
                                <td>${fiado['Juros']}</td>
                                <td>
                                    <input name='id_comanda' value='${fiado['ID']}' type='checkbox' id='id_comanda'>
                                    <input name='soma_valores' value='${ parseFloat(fiado['Valor']) + parseFloat(fiado['Multa']) + parseFloat(fiado['Juros'])}' type='hidden' id='soma_valores'>
                                </td>
                            </tr>
                        `)
                    });

                    $("input[name='id_comanda']").click(function(e){
                        if($(this).is(':checked')){
                            let valor = parseFloat($('#valor_total').text()) + parseFloat($(this).parent().children()[1].value);
                            $('#valor_total').html(valor);
                            
                        }
                        else{
                            let valor = parseFloat($('#valor_total').text()) - parseFloat($(this).parent().children()[1].value);
                            $('#valor_total').html(valor);
                        }
                        
                    })

                    
                    
                    
                }

                else{
                    $('#msg_cliente').show();
                    $('#receber_fiados').hide();
                    $('#fiados').empty();
                }
            }
            else{
                $('#fiados').empty();
                console.log(data.mensagem_exception);
            }
        })
    })

    
    
    $('#receber_fiados').click(function(){

         let ids_comandas_marcadas = [];
         
         let checks_fiado_botao = document.querySelectorAll('#pagamento_fiado');
         checks_fiado_botao.forEach(fiado => {

             if($(fiado).is(':checked')){

                ids_comandas_marcadas.push(fiado.parentElement.parentElement.firstElementChild.textContent);
             }
             
         });

         console.log(ids_comandas_marcadas);

    })
    $(document).ready(function(){
        $('#msg_cliente').hide();
        $('#receber_fiados').hide();        
        $('#cpf_cliente').mask('000.000.000-00');

    })
    
</script>
{% endblock %}

