{% block head %}
<head>
    <meta charset="utf=8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.14.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'sweet-alert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modelo.css') }}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %} - Pastelaria do Zé</title>
</head>
{% endblock %}
<body>
  <header>
    {{session['usuario']}}
  

    <a href="{{ url_for('login.logout') }}">Sair</a>
  </header>
    <div class="sidebar-container" style="background-color:#bc7272;">
        <div class="sidebar-logo" style="background-color: white; text-align: center;">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" style="width:100px; height: 100px;" >
          Pastelaria do Zé
        </div>
        <ul class="sidebar-navigation" >
          <li class="header">Principal</li>
          <li>
            <a href="{{ url_for('home.home') }}">
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>          
          <li>             
          </li>
          {% if session['grupo'] == 1 %}
          <li class="header">Administrador</li>
          <li> 
            <a href="{{ url_for('comanda.dashboard') }}">
              <i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li> 
            <a href="{{ url_for('empresa.configuracoes') }}">
              <i class="fas fa-cog" aria-hidden="true"></i> Configurações
            </a>
          </li>
          <li>
            <a href="{{ url_for('cliente.formListaClientes') }}">
              <i class="fa fa-users" aria-hidden="true"></i> Clientes
            </a>
          </li>
          <li>
            <a href="{{ url_for('funcionario.formListaFuncionarios') }}">
              <i class="fas fa-id-card" aria-hidden="true"></i> Funcionários
            </a>
          </li>
          <li>
            <a href="{{ url_for('produto.formListaProdutos') }}">
              <i class="fas fa-utensils" aria-hidden="true"></i> Produtos
            </a>
          </li>
          {% endif %}
          <li class="header">Comandas</li>
          <li>
            <a href="{{ url_for('comanda.formListaComandas') }}">
              <i class="fas fa-shopping-cart"></i> Gerenciar Comandas
            </a>
          </li>
          
          <li>
            <a href="{{ url_for('comanda.formListaFiados') }}">
              <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i> Receber Fiado
            </a>
          </li>
        </ul>
      </div>
      
      <div class="content-container">
      
        <div class="container-fluid col-12">
          
            {% block content %}{% endblock %}
      
        </div>
      </div>

      
    <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.js') }}"></script>    
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweet-alert/sweetalert.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.mask.min.js') }}"></script>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      function validaSeInputExiste(seletor,funcao,tamanho=10){
        $(seletor).keyup(function(e){
        
            $.post($SCRIPT_ROOT +`${funcao}`,{
        
                valor:e.target.value
            }, function(data){
        
                if(data.erro){
                    swal(data.mensagem,'','error');
                    console.log(data.mensagem_exception)
                }
                else if(data.input_existe){
                    
                    $(seletor).addClass('is-invalid').removeClass('is-valid');
                    $('#botaoSubmit').attr('disabled', true);
                }
                else{
                    if($(seletor).val().length >= tamanho){
        
                        $(seletor).addClass('is-valid').removeClass('is-invalid');
                        $('#botaoSubmit').attr('disabled', false);
                    }
                }
            })
        })

    }
    // Restricts input for the set of matched elements to the given inputFilter function.
      (function($) {
        $.fn.inputFilter = function(inputFilter) {
          return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
            if (inputFilter(this.value)) {
              this.oldValue = this.value;
              this.oldSelectionStart = this.selectionStart;
              this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
              this.value = this.oldValue;
              this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
              this.value = "";
            }
          });
        };
      }(jQuery));

      function permiteApenasValoresDecimais(seletor){
        $(seletor).inputFilter(function(value){

        return /^\$?([1-9]{1}[0-9]{0,2}(\,[0-9]{3})*(\.[0-9]{0,2})?|[1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|(\.[0-9]{1,2})?)$/.test(value);    // Allow digits only, using a RegExp
    })
    }
      
    </script>
     
    {% block js %}{% endblock %}
</body>