{% block head %}
<head>
    <meta charset="utf=8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.14.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modelo.css') }}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %} - Pastelaria do Zé</title>
</head>
{% endblock %}
<body>
    <div class="sidebar-container" style="background-color:#bc7272;">
        <div class="sidebar-logo" style="background-color: white; text-align: center;">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" style="width:100px; height: 100px;" >
          Pastelaria do Zé
        </div>
        <ul class="sidebar-navigation" >
          <li class="header">Principal</li>
          <li>
            <a href="{{ url_for('home.home') }}">
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>
          <li> 
            <a href="#">
              <i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li>             
          </li>
          <li class="header">Administrador</li>
          <li>
            <a href="{{ url_for('cliente.formListaClientes') }}">
              <i class="fa fa-users" aria-hidden="true"></i> Clientes
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-id-card" aria-hidden="true"></i> Funcionários
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-utensils" aria-hidden="true"></i>  Produtos
            </a>
          </li>
          <li class="header">Comandas</li>
          <li>
            <a href="#">
              <i class="fas fa-plus-circle" aria-hidden="true"></i> Adicionar produtos
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-check-circle" aria-hidden="true"></i> Fechar Comanda
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i> Receber Fiado
            </a>
          </li>
        </ul>
      </div>
      
      <div class="content-container">
      
        <div class="container-fluid col-12">
          
            {% block content %}{% endblock %}
      
        </div>
      </div>


    <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.js') }}"></script>
    {% block js %}{% endblock %}
</body>