header{

  width: 150px;
  padding: 5 5 5 5;
  text-align: center;
  float: right;  
  
}
hr{
  width: 100%;
  height: 1px;
  background: #6e6e6e;
}

.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  margin-bottom: 20px;  
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;  
  background: #222222;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px;
  font-size: 20px;
  background-color: #222222;
  vertical-align: middle;
  text-align: center;
  display: block;
  padding-bottom: 0;
}
.sidebar-logo img{
  width: 40px;
  display: inline-block;
  margin-right: 5px;
}
.sidebar-logo p{
  margin-top: 10px;
  display: inline-block;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  

  
}
.sidebar-navigation ul{
  padding-bottom: 20px;
  cursor: pointer;
}
.sidebar-navigation li {
  background-color: transparent;
  background: #6e6e6e;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  margin-bottom: 1px;
}

.sidebar-navigation li a {
  padding: 10px 0px 10px 20px;
  display: block;
  color: #fff;
  
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li .fas {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #9d3c3c;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #222222;
  padding: 20px 0px 20px 20px;
  font-weight: 600;
  border-bottom: 1px solid #6e6e6e;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.sidebar-navigation .header h6{
  margin: 0;
  padding-bottom: 10px;
}

.content-container {
  padding-left: 220px;
}

          