<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'sweet-alert/sweetalert.css') }}">    
    <title>Login</title>
</head>
<body>
    <div id="login">
        <div class="container">            
            <img src="{{ url_for('static', filename='imgs/logo.png') }}">                 
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">                        
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info texto">Login</h3>
                            <div class="form-group">
                                <label for="usuario" class="text-info" style="color: white;">Usuário:</label><br>
                                <input type="text" placeholder="Digite o nome" name="usuario" id="usuario" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="senha" class="text-info">Senha:</label><br>
                                <input type="password" name="senha" id="senha" class="form-control" required>
                                
                            </div>
                            {% if(request.args.get('falhaSessao') == '1'): %}
                                <div class="alert alert-danger">
                                    Falha na Sessão! Faça o Login!
                                </div>
                            {% endif %}
                            {% if(request.args.get('falhaLogin') == '1'): %}
                                <div class="alert alert-danger">
                                    Usuário ou senha incorretos!
                                </div>
                            {% endif %}    
                            <div class="form-group">                                
                                <button type="submit" class="btn btn-success" style="width: 100%;">Entrar</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweet-alert/sweetalert.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.mask.min.js') }}"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $('#login-form').submit(function(e){

            e.preventDefault();
           
            $.post($SCRIPT_ROOT + "{{ url_for('login.validaLogin') }}", {

                usuario:$('#usuario').val(),
                senha: $('#senha').val()
            }, function(data){

                if(data.erro_ex){

                    swal('Erro ao tentar validar login!','','error');
                    console.log(data.mensagem_exception)

                }

                else if(!data.erro){

                    swal({

                        title:`Bem vindo ${data.nome}!`,
                        imageUrl:"{{ url_for('static', filename='imgs/pastel_mascote.png') }}",
                        confirmButtonClass:'btn btn-primary',
                        confirmButtonText:'OK',
                        imageSize:'200x200'
                    }, function(){
                        window.location.replace($SCRIPT_ROOT + "{{ url_for('home.home') }}");
                    })

                }
                else{
                    swal('Usuário ou senha incorretos!','','error');
                    $('#usuario').val("");
                    $('#senha').val("");
                }
            })


        })
        
        
    </script>

    
</body>